extends _layout

block style
  link(rel='stylesheet', type='text/css', href=`/assets/css/${name}.css`)

block title
  title Observe2ch - #{name.charAt(0).toLocaleUpperCase() + name.slice(1)}

block body
  #app-common
  #app-main
  script(type='text/javascript') window[#{name}] = !{name}
  script(type='text/javascript', src='/assets/js/vendor.js')
  script(type='text/javascript', src=`/assets/js/${name}.js`)
